canvas{
    border: 1px solid black;
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    text-decoration-style: none;
    color: black;
}

.playerLink {
    color: white;
}
.playerLink:hover {
    color: white;
    text-decoration-style: solid;
}

a:hover {
    text-decoration: none;
    text-decoration-style: none;
    color: black;
}

#loginBox {
    display: block;
    margin: 50px auto;
    padding: 20px;
    width: 400px;
}

#loginBox button {
    display: block;
    margin: auto;
}

.gameChair {
    border-radius: 50%;
    width: 65px;
    /* height: 40px; */
    display: block;
    margin: auto;
    overflow: hidden;
    margin-top: 10px;
}
.gameChairInGame {
    /* border-radius: 50%; */
    width: 100%;
    /* height: 22px; */
    display: block;
    /* margin: 10px auto; */
    color: white;
    text-align: center;
}
.role{
    padding-top: 10px;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.purple {
    background: purple;
}
.orange {
    background: darkorange;
}
.black {
    background: black;
}

.gameChair img {
    display: block;
    margin: auto;
}
.card-body button {
    display: block;
    margin: auto;
}

.card-body{
    padding: 10px;
}

.gameChairInGame + .role > img {
    display: block;
    margin: auto;
}
.row{
    justify-content: center;
}